@model ClarusBlogBoard.Models.BlogAuthor
@{
    ViewBag.Title = "Delete Author";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div id="heading" class="page-header">
    <h2>Delete Blog Author</h2>
</div>

<div class="col-lg-6 jobDeleteInfo">

    <h3 class="deleteQuestion">Are you sure you want to delete this record?</h3>
    <fieldset>
        <legend>Author Information</legend>

        <div class="display-label">
            <h4>Author Name</h4>
        </div>
        <div class="display-field">
            <p>@Html.DisplayFor(model => model.AuthorName)</p>
        </div>

        <div class="display-label">
            <h4>Author Email</h4>
        </div>
        <div class="display-field">
            <p>@Html.DisplayFor(model => model.AuthorEmail)</p>
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </p>
    }
</div>
